<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage.css">
  <title>MY PAGE</title>
</head>
<body>
  
  <main>
    <th:block th:replace="~{common/header}"></th:block>

    <section class="myPage-content">

      <th:block th:replace="~{myPage/side}"></th:block>

      <section class="myPage-main">
        <h1 class="myPage-title">내 게시글 / 내 댓글</h1>

        <div class="write-btn-area">
          <button type="button">내 게시글</button>
          <button type="button">내 댓글</button>
        </div>

        <table class="write-list" id="writeList">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성일</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>1번째 작성한 글</td>
              <td>2024-04-23</td>
            </tr>
          </tbody>
        </table>
        
      </section>
    </section>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/myPage/myPage.js"></script>
</body>
</html>