<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage.css">
  <title>MY PAGE</title>
</head>
<body>
  
  <main>
    <th:block th:replace="~{common/header}"></th:block>

    <section class="myPage-content">

      <th:block th:replace="~{myPage/side}"></th:block>

      <section class="myPage-main">
        <h1 class="myPage-title">내 게시글 / 내 댓글</h1>

        <div class="write-btn-area">
          <button type="button" id="myBoard">내 게시글</button>
          <button type="button" id="myComment">내 댓글</button>
        </div>

        
        <div id="listMain">
          <table class="write-board-list">
            <thead>
              <tr>
                <th>번호</th>
                <th>내용</th>
                <th>조회수</th>
                <th>작성일</th>
              </tr>
            </thead>
  
            <tbody id="writeList">
              
            </tbody>
          </table>
        </div>
        
        </div>
        
      </section>
    </section>

  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script th:inline="javascript">
    const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인한 회원 번호";
  </script>

  <script src="/js/myPage/myPage.js"></script>
</body>
</html>