/* *** header *** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid rgb(174, 174, 174); */
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

#firstSection{width: 20%;}
#secondSection{width: 60%;}
#thirdSection{width: 20%;}

/* 로고 */
#firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* 사진 넣고 다시 확인 */
#homeLogo {
    margin-left: 30px;
    width: 120px;
}

#secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area{
    width: 500px;
}

.search-area fieldset {
    border: 1px solid rgba(190, 190, 190, 0.192);
    padding: 2px;
    border-radius: 3px;
    display: flex;
    height: 40px;
}
 
/* 검색창(input) */
#search{
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    width: 450px; /* 검색 버튼 오른쪽으로 보냄 */
    
}

#searchBtn {
    width: 8%;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: rgb(41, 41, 41);
}

/*  */

/* ** navigator(게시판 종류 나열) ** */
nav {
    height: 40px;
    border-bottom: 1px solid black;

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav>ul {
    display: flex;
    list-style: none;
    height: 40px;
    padding-left: 100px;
}

/* 게시판 */
nav li {
    flex: 0 1 100px;
}

nav a {
    width: 80px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    transition-duration: 0.1s; 
    height: 100%;
}

nav a:hover {
    color: white;
    background-color: black;
}

header {
    position: relative;
}

.header-menu {
    position: absolute;
    right: 100px;
    top: 20px;
}

#menuToggle {
    display: none;
}

label[for="menuToggle"] {
    cursor: pointer;
    user-select: none;
}

label[for="menuToggle"]:hover {
    text-decoration: underline;  /* 밑줄 */
}

/* 
    MYPAGE/LOGOUT 일단 안보이게
    로그인 하면 보이게
*/
/*
#menuToggle + div {
    display: none;
}

#menuToggle + div {
    display: block;
}

.header-menu{
    position: absolute;
    width: 100px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid black;
}

.header-menu > a{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}
*/


/* *** footer *** */

footer {
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.footer-title {
    font-size: 2rem;
    font-weight: bold;
}

article {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
}

article a {
    font-weight: 900;
    text-decoration: none;
    color: white;
}

article span {
    padding: 0 20px;
}

.footer-info {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.footer-info span {
    display: flex;
    align-items: center;
    flex-direction: column;
}

