/* *** header *** */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid rgb(174, 174, 174); */
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

#firstSection{width: 20%;}
#secondSection{width: 60%;}
#thirdSection{width: 20%;}

/* 로고 */
#firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* 사진 넣고 다시 확인 */
#homeLogo {
    margin-left: 30px;
    width: 120px;
}

#secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area{
    width: 500px;
}

.search-area fieldset {
    border: 1px solid rgba(190, 190, 190, 0.192);
    padding: 2px;
    border-radius: 3px;
    display: flex;
    height: 40px;
}
 
/* 검색창(input) */
#search{
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    width: 450px; /* 검색 버튼 오른쪽으로 보냄 */
    
}

#searchBtn {
    width: 8%;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: rgb(41, 41, 41);
}

/*  */

/* ** navigator(게시판 종류 나열) ** */
nav {
    height: 40px;
    border-bottom: 1px solid black;

    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: white;
}

nav>ul {
    display: flex;
    list-style: none;
    height: 40px;
    padding-left: 100px;
}

/* 게시판 */
nav li {
    flex: 0 1 100px;
}

nav a {
    width: 80px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    transition-duration: 0.1s; 
    height: 100%;
}

nav a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

header {
    position: relative;
}

.header-menu {
    position: absolute;
    right: 100px;
    top: 20px;
}

#menuToggle {
    display: none;
}

#menuToggle {
    cursor: pointer;
    user-select: none;
}

#menuToggle:hover {
    text-decoration: none;  /* 밑줄 */
}

/* 
    MYPAGE/LOGOUT 일단 안보이게
    로그인 하면 보이게 
*/
header {
    position: relative;
}

#menuToggle + div {
    display: none;
}

#menuToggle + div {
    display: block;
}

.header-menu{
    position: absolute;
    width: 100px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid black;
}

.header-menu > a{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
}


/* *** 로그인 팝업 레이어 *** */
#popupLayer{
    width: 400px;
    height: 300px;
    border-radius: 8px;
    background-color: #404040;
}

#loginPw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: none;
}

.popup-hidden{
    display: none;
}

#p {
    display: flex;
    justify-content: center;
    align-content: center;

    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-weight: bold;

    font-size: 17px;
}

/* ID/PW input 태그 */
#loginPw > input {
    outline: none;
    border: none;
    width: 243px;
    height: 35px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    /* margin-left: 75px; */
}

/* x 버튼 */
#popupClose {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    padding-top: 4px; /* x 중앙에 위치 */
    top: 25px;
    right: 25px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;

    border: 1px solid black;
    width: 30px;
    height: 30px;
    background-color: #5E5E5E;
    color: white;
    border-radius: 3px;
}

label {
    margin-top: 5px;
    font-size: 12px;
    color: black;
}

.save-id-area {
    margin: 80px;
    color: white;
}

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 78px;

    width: 243px;
    height: 35px;
    border-radius: 5px;
    border: none;

    font-size: 16px;
    font-weight: bold;
    background-color: #7F7F7F;
    color: white;
}

.signup-area {
    display: flex;
    justify-content:center;
    
}

.signup-area > a {
    color: #de4946;
    font-weight: bold;
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    padding: 10px;
}

/* ** bg 컬러 (form 태그 부분은 밝음 그대로 유지해야 함) */
/* #bgColor {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */


.top-menu > a {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    color: #404040;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* ****** banner swiper ****** */
:root {
    --swiper-theme-color: #000
}

.swiper-container {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.swiper-pagination {
    position: relative;
    bottom: 50px !important;
    left: 0;
    right: 0;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ****** 미니들 ****** */

.mainBoard {
    display: flex;
    top: 30px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 20px;
}
.miniBoard {
    display: inline-block;
    padding: 20px;
    margin-left: 200px;
    width: 600px;
    height: 450px;
    justify-content: center;
}

.category {
    margin-right: 20px;
}

#miniBoard-content ul li {
    list-style: none;
}

#miniBoard-content ul li a {
    text-decoration: none;
}

.hotBoard {
    display: inline-block;
    padding: 26px;
    margin-right: 200px;
    width: 400px;
    height: 450px;
}

/* ****** footer ****** */

footer {
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center; 
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}

.footer-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

article {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
}

article a {
    font-weight: 900;
    text-decoration: none;
    color: white;
}

article span {
    padding: 0 20px;
}

.footer-info {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.footer-info span {
    display: flex;
    align-items: center;
    flex-direction: column;
}

