<header>
    <section id="firstSection">
        <a href="/">
            <img src="#" alt="메인 로고" id="homeLogo">
        </a>
    </section>

    <section id="secondSection">
        <article class="search-area">
            <form action="#" method="POST">
                <fieldset>

                    <input type="search" id="search" name="search" autocomplete="off">
                    <!-- placeholder="검색어를 입력해 주세요." -->

                    <input type="hidden" name="hidden" value="t">

                    <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>

                </fieldset>
            </form>
        </article>
    </section>

    <!-- 구분용 -->
    <section id="thirdSection">
    
        <!-- 마이 페이지, 로그인 드롭다운 -->

        <div class="top-menu">
    
            <!-- 로그인 X (아이콘 클릭하면 로그인 페이지로 이동 예정) -->
    
            <th:block th:if="${session.loginMember == null}">
                <a class="fa-solid fa-user" id="loginIcon"></a>
            </th:block>
            
            <!-- 로그인 O (아이콘 클릭시 마이 페이지/로그아웃 드롭박스 예정)  -->
            <th:block th:unless="${session.loginMember == null}">
                <label for="menuToggle" id="menuToggle">
                    <!-- <i class="fa-solid fa-user"></i> -->
                   
                    [[${session.loginMember?.memberNickname}]]
                </label>
        
                <input type="checkbox" id="menuToggle">
        
                <div class="header-menu">
                    <a href="#">MYAGE</a>
                    <a href="/member/logout">LOGOUT</a>
                </div>
           </th:block>

        </div>
    </section>


</header>

<!-- 로그인 팝업 -->
<form action="/member/login" method="POST" id="loginForm">

    <section id="popupLayer" class="popup-hidden">

        <p id="p">로그인</p>
        <span id="popupClose" class="fa-solid fa-xmark"></span> <!-- x버튼 -->

        <section id="loginPw">
            <input type="text" name="memberEmail" placeholder="아이디(이메일)" id="idInput">
            <input type="password" name="memberPw" placeholder="비밀번호" id="pwInput">
        </section>

        <label>
            <input type="checkbox" name="saveId" id="saveId"> 아이디 저장
        </label>

        <section>
            <button id="loginBtn">로그인</button>
        </section>

        <article class="signup-area">
            <a href="#">ID/PW 찾기</a>
            <a href="#">회원가입하러 가기</a>
        </article>
    </section>

</form>


<!-- navigator(게시판 종류 나열) -->
<nav>
    <ul>
        <li>

            <a href="/board/boardList">국내</a>
        </li>

        <li>
            <a href="#">국외</a>

            <a class="nav-link" href="/board/boardList">국외</a>
        </li>

        <li>
            <a class="nav-link" href="#">국내</a>

        </li>

        <li>
            <a class="nav-link" href="#">자유</a>
        </li>

        <li>
            <a class="nav-link" href="#">공지</a>
        </li>
    </ul>
</nav>