<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Project</title>
    
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <div style="height: 500px;">
            <h1>테스트</h1>
        </div>


        <a href="/boardList.html">boardList 테스트트</a>



    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    
</body>
</html>