.comment-write-area {
    display: flex;
    min-height: 85px;
    justify-content: center;
    margin: 30px 0;
}

.comment-write-area textarea {
    flex-basis: 75%;
    margin-right: 10px;
    resize: none;
    padding: 10px;
}

.comment-write-area button {
    flex-basis: 7%;
    height: 85px;
    font-weight: bold;
    border: 0;
    background-color: rgb(60, 60, 60);
    color: white;
    cursor: pointer;
}

#commentList{
	padding: 0;
	list-style: none;
    margin: 0px 50px;
}

.comment-writer {
	display: flex;
	align-items: center;
}

.comment-writer > img{
	width: 40px;
    height: 40px;
    border-radius: 50px;
}

.comment-writer > span{
    font-weight: bold;
    margin-left : 10px;
}

.comment-date{
	font-size: 0.8em;
	color: rgb(100, 100, 100)
}


.comment-btn-area { 
	display: flex;
	justify-content: flex-end;
}

/* 버튼 */
.comment-btn-area button{
    width: 50px;
    height: 30px;
	margin-left: 10px;
    border-radius: 3px;
    
    font-size: 12px;
    font-weight: bold;
    
    border: none;

    background-color: rgb(60, 60, 60);
    color : white;

    cursor: pointer;
}

.comment-btn-area button:hover{
    background-color: white;
    color : rgb(60, 60, 60);
}

.update-textarea{
	width: 100%;
    height: 90px;
    resize: none;
    padding: 10px;
}

.comment-row{
	border-top : 1px solid #ccc;
	padding : 15px 0;
}


.child-comment{
	padding-left : 50px;
	position: relative;
}

/* 
.child-comment:before {
	content: "\f0a4";
	font-family: "FontAwesome";
	
	position : absolute;
	left : 0;
	top : 35px;
} */


/* 답글 */
.commentInsertContent{
	width: 100%;
    height: 90px;
    resize: none;
    margin-top : 20px;
}



/* 댓글 내용 */
.comment-content{
	white-space: pre-wrap;  /* 작성된 문자열 모양 그대로(공백 유지) */
    font-size: 15px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    margin: 20px;
}

h1{
    font-size: 24px;
    color:  rgb(60, 60, 60);
    margin-bottom: 15px;
}