<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 이름</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/board/boardWrite.css">
</head>
<body>
  
  <th:block th:replace="~{common/header}"></th:block>
  <main>

    <form th:action="@{update}" method="POST" class="board-write" id="boardWrite" enctype="multipart/form-data">

      <h1 class="board-title" th:text="${boardName}">게시판</h1>

      <div class="input-area">
        <select name="categoryNo" id="selectCategory" th:if="${boardCode == 1}" th:value="${board.categoryNo}">
          <option value="0">카테고리 입력</option>
          <option value="28">힙합</option>
          <option value="29">발라드</option>
          <option value="30">댄스</option>
          <option value="31">재즈</option>
          <option value="32">팝</option>
          <option value="33">록</option>
          <option value="34">EDM</option>
          <option value="35">인디</option>
          <option value="36">R&B</option>
        </select>

        <select name="categoryNo" id="selectCategory" th:if="${boardCode == 2}"  th:value="${board.categoryNo}">
          <option value="0">카테고리 입력</option>
          <option value="21">힙합</option>
          <option value="22">댄스</option>
          <option value="23">재즈</option>
          <option value="24">팝</option>
          <option value="25">록</option>
          <option value="26">EDM</option>
          <option value="27">R&B</option>
        </select>

        <input type="text" name="boardTitle" th:value="${board.boardTitle}">
      </div>

      <h2 class="content">내용</h2>

      <div class="board-content">
        <textarea name="boardContent" th:text="${board.boardContent}"></textarea>
      </div>

      <h2 class="image">이미지</h2>

      <div class="img-box">

        <div class="boardImg">
            <label for="img1">
                <img class="preview" src="">
            </label>
            <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
            <span class="delete-image">&times;</span>
        </div>

        <div class="boardImg">
            <label for="img2">
                <img class="preview" src="">
            </label>
            <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
            <span class="delete-image">&times;</span>
        </div>

        <div class="boardImg">
            <label for="img3">
                <img class="preview" src="">
            </label>
            <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
            <span class="delete-image">&times;</span>
        </div>

        <div class="boardImg">
            <label for="img4">
                <img class="preview" src="">
            </label>
            <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
            <span class="delete-image">&times;</span>
        </div>
      </div>
      

      <div class="insert-btn-area">
        <button type="submit" id="insertBoard">수정하기</button>
      </div>

      <!-- 기존 이미지가 있다가 삭제된 이미지의 순서를 기록-->
      <input type="hidden" name="deleteOrder" value="">

      <!-- 수정 성공 시 주소(쿼리스트링) 유지용도 -->
      <input type="hidden" name="querystring">
    </form>




  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script th:inline="javascript">
    const imageList = /*[[${board.imageList}]]*/ [];
    const previewList = document.querySelectorAll("img.preview");

    const orderList = [];

    for(let img of imageList){
      previewList[img.imgOrder].src = img.imgPath + img.imgRename;
      orderList.push(img.imgOrder);
    }
    const boardCode = /*[[${boardCode}]]*/ "게시판 코드 번호";
  </script>

  <script src="/js/board/boardUpdate.js"></script>
  
</body>
</html>