<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{common/common}"></th:block>

    <link rel="stylesheet" type="text/css" href="/css/board/boardList.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>

        <section class="board-list">

            <h1 class="board-name">게시판 이름</h1>

            <div class="list-wrapper">
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            <th><i class="fa-solid fa-heart"></i></th>
                        </tr>
                    </thead>

                    <tbody>

                        <!-- 게시글 존재하지 않을 때 -->
                        <!-- <th:block th:if="${#lists.isEmpty(boardList)}">
                            <tr>
                                <th colspan="5">게시글이 존재하지 않습니다</th>
                            </tr>
                        </th:block> -->

                        <!-- 게시글 존재할 때 -->
                        <!-- <th:block th:unless="${#lists.isEmpty(boardList)}"> -->
                            <!-- <tr th:each="board : ${boardList}" th:object="${board}"> -->
                            <tr>
                                <td>55</td>
                                <td>힙합</td>
                                <td>
                                    <a href="#">게시글 제목</a>
                                    <th:block>5</th:block>
                                </td>

                                <td>작성자</td>

                                <td>2004.05.24</td>

                                <td>23</td>

                                <td>3</td>

                            </tr>

                        </th:block>
                    </tbody>
                </table>
            </div>

            <div class="btn-area">
                <button id="insertBtn">글쓰기</button>
            </div>

        </section>
    </main>
    
</body>
</html>