<style>
    category {
        align-items: center;
        display: flex;
        margin-bottom: 15px;
    }
    .category-btn {
        width: 70px;
        height: 35px;
        margin: 0 10px;
        border: none;
        background-color: rgb(60, 60, 60);
        font-weight: bold;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    .category-btn:hover {
        background-color: rgb(192, 190, 190);
        transition-duration: 0.2s;
    }
</style>

<category>
    <button class="category-btn">힙합</button>
    <button class="category-btn">발라드</button>
    <button class="category-btn">댄스</button>
    <button class="category-btn">재즈</button>
    <button class="category-btn">팝</button>
    <button class="category-btn">록</button>
    <button class="category-btn">EDM</button>
    <button class="category-btn">인디</button>
    <button class="category-btn">R&B</button>
</category>

<!-- <category>
    <th:block th:each="category : ${application.categoryList}">
        <button class="category-btn"
            th:href="@{/board/{boardCode}(boardCode=${boardType.boardCode})}"
            th:text="${category.categoryName}">카테고리
        </button>
    </th:block>
</category> -->