<style>
    category {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .category-btn {
        width: 70px;
        height: 35px;
        margin: 0 10px;
        border: none;
        background-color: rgb(60, 60, 60);
        font-weight: bold;
        color: white;
        font-weight: bold;
        border-radius: 15px;
        cursor: pointer;
    }

    .category-btn:hover {
        background-color: rgb(192, 190, 190);
        color: black;
        transition-duration: 0.2s;
    }
</style>


<category>
    <button class="category-btn"
        th:each="categoryName : ${categoryNames}" 
        th:text="${categoryName}">카테고리
    </button>
</category>
