*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

main {
    padding: 20px 40px;
    border-radius: 5px;
}

section:first-child{
    height: 30%;
}

.input-box {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.input-box input {
    border: none;
    border-bottom: 1px solid #7F7F7F;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    font-weight: bold;
}

.input-box input:focus {
    outline: 0;
    border-bottom-color: black;
}


.login-btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #404040;
    color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
}

.login-btn:focus {
    outline: 0;
}

.login-btn:active {
    transform: scale(0.98);
}

.saveId-area {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.saveId-area>input {
    display: none;
}

#saveId+label {
    display: flex;
    cursor: pointer;
}

#saveId+label>i {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    color: #ccc;
    font-size: 1.05em;
}

.saveId-area>input:checked+label>i {
    background-color: #404040;
    border-color: #404040;
    color: white !important;
} 

.text-area {
    margin-top: 10px;
    text-align: center;
}

.text-area a {
    text-decoration: none;
    color: #404040;
    margin: 0 20px;
}